<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <p>Welcome to Rock, Paper, Scissors</p>
    <!-- <p>Press <a href="">Play</a> to play<p> -->
    <a href='/'><button type='button'>Home</button></a>
    <a href='/R/:c'><button type='button'>Rock</button></a>
    <a href='/P/:c'><button type='button'>Paper</button></a>
    <a href='/S/:c'><button type='button'>Scissors</button></a>
    <h1><%= @result %></h1>
  </body>
</html>
